.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__hD2MI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.freeBox__dTjMk {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/bg3Webp.webp") top 50% left 50% / cover repeat, #000000;
  margin-bottom: 0px;
  min-width: 0;
  padding: 48px 8px 0px;
}
.columns__hQet9 {
  --plsmc-rc-col-gap: 0px;
}
.columns__hQet9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__hQet9 > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hQet9 > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hQet9 > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hQet9 > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hQet9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hQet9 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mzmAc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__t18Wh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__v1VVw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 32px;
}
.img__v1VVw > picture > img {
  object-fit: cover;
}
.freeBox__j5O0Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__q5FT {
  --plsmc-rc-col-gap: 0px;
}
.columns__q5FT {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__q5FT > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__q5FT > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__q5FT > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__q5FT > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q5FT {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q5FT > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yLy2C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__b8DLm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__b8DLm > picture > img {
  object-fit: cover;
}
.column__vjYm9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__cRBwq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cRBwq > picture > img {
  object-fit: cover;
}
.column__kcyK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__voyyB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__voyyB > picture > img {
  object-fit: cover;
}
.column__kW5I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___16NQ2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___16NQ2 > picture > img {
  object-fit: cover;
}
.column___0Rvcv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__c0RjZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__gphXt {
  position: relative;
  color: var(--token-zy6xhYnWF8Y7);
  font-size: 28px;
  margin-bottom: 19px;
  font-family: "Archivo", sans-serif;
}
.link__bW7Gs {
  position: relative;
  color: var(--token-zy6xhYnWF8Y7);
  font-size: 28px;
  margin-bottom: 21px;
  font-family: "Archivo", sans-serif;
}
.link__eFuTq {
  position: relative;
  color: var(--token-zy6xhYnWF8Y7);
  font-size: 28px;
  margin-bottom: 18px;
  font-family: "Archivo", sans-serif;
}
.link__v6Ymi {
  position: relative;
  color: var(--token-zy6xhYnWF8Y7);
  font-size: 28px;
  font-family: "Archivo", sans-serif;
}
.column__uVal6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__oSTap {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__t0JWo {
  position: relative;
  color: var(--token-zy6xhYnWF8Y7);
  font-size: 28px;
  margin-bottom: 18px;
  font-family: "Archivo", sans-serif;
}
.link___2STs1 {
  position: relative;
  font-size: 28px;
  color: var(--token-zy6xhYnWF8Y7);
  margin-bottom: 14px;
  font-family: "Archivo", sans-serif;
}
.link__kfAfW {
  position: relative;
  font-size: 28px;
  padding-left: 0px;
  color: var(--token-zy6xhYnWF8Y7);
  margin-bottom: 19px;
  font-family: "Archivo", sans-serif;
}
.link__rjN7O {
  position: relative;
  font-size: 28px;
  color: var(--token-zy6xhYnWF8Y7);
  margin-bottom: 17px;
  font-family: "Archivo", sans-serif;
}
.link__phQ8E {
  position: relative;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
}
.slotTargetChildren {
  font-family: "Archivo", sans-serif;
  font-size: 28px;
  color: var(--token-zy6xhYnWF8Y7);
}
.column__otRd7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__goLdj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__wz879 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-zy6xhYnWF8Y7);
  font-size: 38px;
  margin-bottom: 43px;
  font-family: "Archivo", sans-serif;
  min-width: 0;
}
.freeBox__nllNq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 0px;
}
.svg__el9Et {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2WyRh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__hfJce {
  color: #000000;
  font-size: 20px;
}
.text__dFajH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: var(--token-GGYj13plNx6v);
  text-align: center;
  margin-top: 23px;
  min-width: 0;
}
.h1__qGwJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-41VRhDKfihhY);
  text-align: center;
  margin-top: 17px;
  font-size: 30px;
  min-width: 0;
}
