.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__s2Zez {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.bbsportsNavbar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__flHsc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 630px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__flHsc {
    margin-bottom: 99px;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  margin-top: 21px;
  min-width: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 19px;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 300px;
  margin-top: 18px;
  margin-bottom: 20px;
}
.link {
  position: relative;
  color: #000000;
  border-bottom-style: solid;
  border-width: 1px;
}
.fotter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
