.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.img {
  object-fit: none;
  max-width: 100%;
  height: 609px;
  width: 955px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: none;
}
.h1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 17px;
  display: flex;
  flex-direction: row;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    justify-content: center;
  }
}
.slotTargetChildren {
  font-size: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetChildren {
    text-align: center;
  }
}
.text__z2G0V {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 0px;
  text-align: center;
  margin-top: 31px;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__z2G0V {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 500px;
  margin-top: 31px;
}
.text__irdq3 {
  font-size: 20px;
}
