.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__mdlmd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.bbsportsNavbar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__zdjjz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 32px;
  margin-top: 30px;
  min-width: 0;
}
.text___2UyGu {
  position: relative;
  width: 1241px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  padding-left: 200px;
  padding-right: 194px;
  margin-right: 17px;
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2UyGu {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.select:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 300px;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: 20px 0px 0px 4px;
}
.text__diGrG {
  text-align: center;
  width: auto;
  font-size: 20px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 300px;
  margin: 20px 0px 0px;
}
.text__cplmt {
  text-align: center;
  font-size: 20px;
}
.freeBox__g0ZQh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 409px;
  background: #000000;
  min-width: 0;
  padding: 8px;
}
.bBsportsFooter2:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bBsportsFooter2:global(.__wab_instance) {
    margin-top: 0px;
    width: auto;
    height: 120px;
    flex-shrink: 0;
  }
}
.fotter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
